{% extends 'gallery/base.html' %}
{% load static %}

{% block content %}
	<h1>Gallery</h1>
	<div class="row">
		{% for item in gallery_objects %}
			<div class="col-md-4">
				<div class="card mb-2">
					<img class="card-img-top" src="{% static item.image %}" alt="{{ item.title }}" />
					<div class="card-body">
						<h5 class="card-title">{{ item.title }}</h5>
						<p class="card-text">{{ item.description }}</p>
						<a href="{% url 'gallery:gallery_detail' item.id %}" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}